NET "CLK_50M" LOC = H22;
NET "save_data_dff_pi" LOC = L20;		// RST_ER

NET "DAT_DUT_CHIP1" LOC = F8; #AE23;
NET "DAT_DUT_CHIP2" LOC = D1;
NET "DAT_DUT_CHIP22" LOC = U33;
NET "CLK_DUT_CHIP1" LOC = H10; #H19;
NET "CLK_DUT_CHIP2" LOC = D2;
NET "DB_DFFQ0" LOC = AL33;
NET "DB_DFFQ1" LOC = K2;
NET "DB_DFFQ2" LOC = K3;
NET "DB_DFFQ3" LOC = H2;
NET "DB_DFFQ4" LOC = M3;
NET "DB_DFFQ5" LOC = B3;
NET "DB_DFFQ6" LOC = C2;
NET "DB_DFFQ7" LOC = B1;
NET "DB_DFFQ8" LOC = C3;
NET "DB_DFFQ9" LOC = B2;
NET "DB_DFFQ10" LOC = E3;
NET "DB_DFFQ11" LOC = N3;
NET "DB_DFFQ12" LOC = P2;
NET "DB_DFFQ13" LOC = M2;

NET "data_clk_dff_pi" LOC = L14; 		// SIN
NET "data_out_dff_pi" LOC = L15;		//SOUT

//signals for sram_test
NET "reset_sram_RO_pi" LOC = L19; 	//reset for RO and sram test

NET "data_pi" LOC = K17;	// data from pi
NET "data_clk_pi" LOC = K18;	// clk from pi

NET "SRAM_CLK" LOC = AL34; 
NET "SRAM_DATA_IN[0]" LOC = AN32;
NET "SRAM_DATA_IN[1]" LOC = AP32;
NET "SRAM_DATA_IN[2]" LOC = V33;
NET "SRAM_DATA_IN[3]" LOC = AF33;
NET "SRAM_DATA_IN[4]" LOC = V32;
NET "SRAM_DATA_IN[5]" LOC = W34;
NET "SRAM_DATA_IN[6]" LOC = V34;
NET "SRAM_DATA_IN[7]" LOC = AA33;
NET "RDWEN" LOC = AA34;
NET "SRAM_DATA_OUT[0]" LOC = P1;
NET "SRAM_DATA_OUT[1]" LOC = R1;
NET "SRAM_DATA_OUT[2]" LOC = T1;
NET "SRAM_DATA_OUT[3]" LOC = N2;
NET "SRAM_DATA_OUT[4]" LOC = E1;
NET "SRAM_DATA_OUT[5]" LOC = E2;
NET "SRAM_DATA_OUT[6]" LOC = A3;
NET "SRAM_DATA_OUT[7]" LOC = G3;

NET "SRAM_ADDRESS[0]" LOC = AD34;
NET "SRAM_ADDRESS[1]" LOC = AK33;
NET "SRAM_ADDRESS[2]" LOC = AG32;
NET "SRAM_ADDRESS[3]" LOC = AJ32;
NET "SRAM_ADDRESS[4]" LOC = AK32;
NET "SRAM_ADDRESS[5]" LOC = Y33;
NET "SRAM_ADDRESS[6]" LOC = J1;
NET "SRAM_ADDRESS[7]" LOC = H3;

NET "SRAM_ADDRESS[8]" LOC = AF34;
NET "SRAM_ADDRESS[9]" LOC = AM32;
NET "SRAM_ADDRESS[10]" LOC = AN34;
NET "SRAM_ADDRESS[11]" LOC = AN33;

NET "SRAM_ADDRESS[12]" LOC = Y34;
NET "SRAM_ADDRESS[13]" LOC = Y32;
NET "SRAM_ADDRESS[14]" LOC = AC34;

NET "SAWL[0]" LOC = R2;
NET "SAWL[1]" LOC = U1;

NET "SAWL[0]" IOSTANDARD = LVCMOS18;
NET "SAWL[1]" IOSTANDARD = LVCMOS18;


NET "clear_error" LOC = K16;
NET "sram_error_pi" LOC = L16;
NET "sram_data_out_clk_pi" LOC = K19;
NET "sram_data_out_pi" LOC = K22;

// signals for RO test
NET "read_data_RO_pi" LOC = J22;
NET "data_clk_RO_pi" LOC = K13;
NET "data_out_RO_pi" LOC = K14;

NET "C[0]" LOC = U3;
NET "C[1]" LOC = U2;

NET "O_INV" LOC = AE34;
NET "O_NAND" LOC = AJ34;
NET "O_NOR" LOC = AE32;



//debug
NET "reset" LOC = K21;
NET "sin_db" LOC = L21;
NET "CLK_100K" LOC = K12;
NET "clk_50_db" LOC = J12;
NET "reset" IOSTANDARD = LVCMOS33;
NET "sin_db" IOSTANDARD = LVCMOS33;
NET "clk_50_db" IOSTANDARD = LVCMOS33;
NET "CLK_100K" IOSTANDARD = LVCMOS33;


NET "CLK_50M" IOSTANDARD = LVCMOS18;
NET "save_data_dff_pi" IOSTANDARD = LVCMOS33;

NET "DAT_DUT_CHIP1" IOSTANDARD = LVCMOS18;
NET "DAT_DUT_CHIP2" IOSTANDARD = LVCMOS18;
NET "DAT_DUT_CHIP22" IOSTANDARD = LVCMOS18;
NET "CLK_DUT_CHIP1" IOSTANDARD = LVCMOS18;
NET "CLK_DUT_CHIP2" IOSTANDARD = LVCMOS18;
NET "DB_DFFQ0" IOSTANDARD = LVCMOS18;
NET "DB_DFFQ1" IOSTANDARD = LVCMOS18;
NET "DB_DFFQ2" IOSTANDARD = LVCMOS18;
NET "DB_DFFQ3" IOSTANDARD = LVCMOS18;
NET "DB_DFFQ4" IOSTANDARD = LVCMOS18;
NET "DB_DFFQ5" IOSTANDARD = LVCMOS18;
NET "DB_DFFQ6" IOSTANDARD = LVCMOS18;
NET "DB_DFFQ7" IOSTANDARD = LVCMOS18;
NET "DB_DFFQ8" IOSTANDARD = LVCMOS18;
NET "DB_DFFQ9" IOSTANDARD = LVCMOS18;
NET "DB_DFFQ10" IOSTANDARD = LVCMOS18;
NET "DB_DFFQ11" IOSTANDARD = LVCMOS18;
NET "DB_DFFQ12" IOSTANDARD = LVCMOS18;
NET "DB_DFFQ13" IOSTANDARD = LVCMOS18;

NET "data_clk_dff_pi" IOSTANDARD = LVCMOS33;
NET "data_out_dff_pi" IOSTANDARD = LVCMOS33;

NET "comp_out_db" LOC = W6;
NET "comp_out_db" IOSTANDARD = LVCMOS18;

NET "SRAM_CLK" IOSTANDARD = LVCMOS18;
NET "SRAM_DATA_IN[0]" IOSTANDARD = LVCMOS18;
NET "SRAM_DATA_IN[1]" IOSTANDARD = LVCMOS18;
NET "SRAM_DATA_IN[2]" IOSTANDARD = LVCMOS18;
NET "SRAM_DATA_IN[3]" IOSTANDARD = LVCMOS18;
NET "SRAM_DATA_IN[4]" IOSTANDARD = LVCMOS18;
NET "SRAM_DATA_IN[5]" IOSTANDARD = LVCMOS18;
NET "SRAM_DATA_IN[6]" IOSTANDARD = LVCMOS18;
NET "SRAM_DATA_IN[7]" IOSTANDARD = LVCMOS18;
NET "RDWEN" IOSTANDARD = LVCMOS18;
NET "SRAM_DATA_OUT[0]" IOSTANDARD = LVCMOS18;
NET "SRAM_DATA_OUT[1]" IOSTANDARD = LVCMOS18;
NET "SRAM_DATA_OUT[2]" IOSTANDARD = LVCMOS18;
NET "SRAM_DATA_OUT[3]" IOSTANDARD = LVCMOS18;
NET "SRAM_DATA_OUT[4]" IOSTANDARD = LVCMOS18;
NET "SRAM_DATA_OUT[5]" IOSTANDARD = LVCMOS18;
NET "SRAM_DATA_OUT[6]" IOSTANDARD = LVCMOS18;
NET "SRAM_DATA_OUT[7]" IOSTANDARD = LVCMOS18;
NET "SRAM_ADDRESS[0]" IOSTANDARD = LVCMOS18;
NET "SRAM_ADDRESS[1]" IOSTANDARD = LVCMOS18;
NET "SRAM_ADDRESS[2]" IOSTANDARD = LVCMOS18;
NET "SRAM_ADDRESS[3]" IOSTANDARD = LVCMOS18;
NET "SRAM_ADDRESS[4]" IOSTANDARD = LVCMOS18;
NET "SRAM_ADDRESS[5]" IOSTANDARD = LVCMOS18;
NET "SRAM_ADDRESS[6]" IOSTANDARD = LVCMOS18;
NET "SRAM_ADDRESS[7]" IOSTANDARD = LVCMOS18;
NET "SRAM_ADDRESS[8]" IOSTANDARD = LVCMOS18;
NET "SRAM_ADDRESS[9]" IOSTANDARD = LVCMOS18;
NET "SRAM_ADDRESS[10]" IOSTANDARD = LVCMOS18;
NET "SRAM_ADDRESS[11]" IOSTANDARD = LVCMOS18;
NET "SRAM_ADDRESS[12]" IOSTANDARD = LVCMOS18;
NET "SRAM_ADDRESS[13]" IOSTANDARD = LVCMOS18;
NET "SRAM_ADDRESS[14]" IOSTANDARD = LVCMOS18;

NET "reset_sram_RO_pi" IOSTANDARD = LVCMOS33;

NET "data_pi" IOSTANDARD = LVCMOS33;
NET "data_clk_pi" IOSTANDARD = LVCMOS33;

NET "clear_error" IOSTANDARD = LVCMOS33;
NET "sram_error_pi" IOSTANDARD = LVCMOS33;
NET "sram_data_out_clk_pi" IOSTANDARD = LVCMOS33;
NET "sram_data_out_pi" IOSTANDARD = LVCMOS33;

// signals for RO test
NET "read_data_RO_pi" IOSTANDARD = LVCMOS33;
NET "data_clk_RO_pi" IOSTANDARD = LVCMOS33;
NET "data_out_RO_pi" IOSTANDARD = LVCMOS33;

NET "C[0]" IOSTANDARD = LVCMOS18;
NET "C[1]" IOSTANDARD = LVCMOS18;

NET "O_INV" IOSTANDARD = LVCMOS18;
NET "O_NAND" IOSTANDARD = LVCMOS18;
NET "O_NOR" IOSTANDARD = LVCMOS18;

NET "data_clk_pi" CLOCK_DEDICATED_ROUTE = FALSE;
NET "sram_data_out_clk_pi" CLOCK_DEDICATED_ROUTE = FALSE;
NET "data_clk_RO_pi" CLOCK_DEDICATED_ROUTE = FALSE;

NET "O_INV" CLOCK_DEDICATED_ROUTE = FALSE;
NET "O_NAND" CLOCK_DEDICATED_ROUTE = FALSE;
NET "O_NOR" CLOCK_DEDICATED_ROUTE = FALSE;

NET "save_data_dff_pi" CLOCK_DEDICATED_ROUTE = FALSE;
NET "data_clk_dff_pi" CLOCK_DEDICATED_ROUTE = FALSE;


//NET "CLK_MCU" CLOCK_DEDICATED_ROUTE = FALSE;