//! **************************************************************************
// Written by: Map P.20131013 on Thu Jun 02 11:00:40 2022
//! **************************************************************************

SCHEMATIC START;
COMP "SRAM_ADDRESS<0>" LOCATE = SITE "AD34" LEVEL 1;
COMP "SRAM_ADDRESS<1>" LOCATE = SITE "AK33" LEVEL 1;
COMP "SRAM_ADDRESS<2>" LOCATE = SITE "AG32" LEVEL 1;
COMP "SRAM_ADDRESS<3>" LOCATE = SITE "AJ32" LEVEL 1;
COMP "SRAM_ADDRESS<4>" LOCATE = SITE "AK32" LEVEL 1;
COMP "SRAM_ADDRESS<5>" LOCATE = SITE "Y33" LEVEL 1;
COMP "SRAM_ADDRESS<6>" LOCATE = SITE "J1" LEVEL 1;
COMP "SRAM_ADDRESS<7>" LOCATE = SITE "H3" LEVEL 1;
COMP "SRAM_ADDRESS<8>" LOCATE = SITE "AF34" LEVEL 1;
COMP "SRAM_ADDRESS<9>" LOCATE = SITE "AM32" LEVEL 1;
COMP "SRAM_CLK" LOCATE = SITE "AL34" LEVEL 1;
COMP "SRAM_ADDRESS<10>" LOCATE = SITE "AN34" LEVEL 1;
COMP "SRAM_ADDRESS<11>" LOCATE = SITE "AN33" LEVEL 1;
COMP "SRAM_ADDRESS<12>" LOCATE = SITE "Y34" LEVEL 1;
COMP "SRAM_ADDRESS<13>" LOCATE = SITE "Y32" LEVEL 1;
COMP "SRAM_ADDRESS<14>" LOCATE = SITE "AC34" LEVEL 1;
COMP "sram_error_pi" LOCATE = SITE "L16" LEVEL 1;
COMP "clk_50_db" LOCATE = SITE "J12" LEVEL 1;
COMP "C<0>" LOCATE = SITE "U3" LEVEL 1;
COMP "C<1>" LOCATE = SITE "U2" LEVEL 1;
COMP "RDWEN" LOCATE = SITE "AA34" LEVEL 1;
COMP "O_INV" LOCATE = SITE "AE34" LEVEL 1;
PIN O_INV_pin<0> = BEL "O_INV" PINNAME PAD;
PIN "O_INV_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "O_NOR" LOCATE = SITE "AE32" LEVEL 1;
PIN O_NOR_pin<0> = BEL "O_NOR" PINNAME PAD;
PIN "O_NOR_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "SRAM_DATA_IN<0>" LOCATE = SITE "AN32" LEVEL 1;
COMP "SRAM_DATA_IN<1>" LOCATE = SITE "AP32" LEVEL 1;
COMP "SRAM_DATA_IN<2>" LOCATE = SITE "V33" LEVEL 1;
COMP "data_clk_RO_pi" LOCATE = SITE "K13" LEVEL 1;
PIN data_clk_RO_pi_pin<0> = BEL "data_clk_RO_pi" PINNAME PAD;
PIN "data_clk_RO_pi_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "SRAM_DATA_IN<3>" LOCATE = SITE "AF33" LEVEL 1;
COMP "SRAM_DATA_IN<4>" LOCATE = SITE "V32" LEVEL 1;
COMP "SRAM_DATA_IN<5>" LOCATE = SITE "W34" LEVEL 1;
COMP "SRAM_DATA_IN<6>" LOCATE = SITE "V34" LEVEL 1;
COMP "SRAM_DATA_IN<7>" LOCATE = SITE "AA33" LEVEL 1;
COMP "data_pi" LOCATE = SITE "K17" LEVEL 1;
COMP "reset" LOCATE = SITE "K21" LEVEL 1;
COMP "comp_out_db" LOCATE = SITE "W6" LEVEL 1;
COMP "CLK_DUT_CHIP1" LOCATE = SITE "H10" LEVEL 1;
COMP "CLK_DUT_CHIP2" LOCATE = SITE "D2" LEVEL 1;
COMP "sram_data_out_pi" LOCATE = SITE "K22" LEVEL 1;
COMP "save_data_dff_pi" LOCATE = SITE "L20" LEVEL 1;
PIN save_data_dff_pi_pin<0> = BEL "save_data_dff_pi" PINNAME PAD;
PIN "save_data_dff_pi_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "sram_data_out_clk_pi" LOCATE = SITE "K19" LEVEL 1;
PIN sram_data_out_clk_pi_pin<0> = BEL "sram_data_out_clk_pi" PINNAME PAD;
PIN "sram_data_out_clk_pi_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "DAT_DUT_CHIP1" LOCATE = SITE "F8" LEVEL 1;
COMP "DAT_DUT_CHIP2" LOCATE = SITE "D1" LEVEL 1;
COMP "read_data_RO_pi" LOCATE = SITE "J22" LEVEL 1;
COMP "O_NAND" LOCATE = SITE "AJ34" LEVEL 1;
PIN O_NAND_pin<0> = BEL "O_NAND" PINNAME PAD;
PIN "O_NAND_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "SRAM_DATA_OUT<0>" LOCATE = SITE "P1" LEVEL 1;
COMP "SRAM_DATA_OUT<1>" LOCATE = SITE "R1" LEVEL 1;
COMP "SRAM_DATA_OUT<2>" LOCATE = SITE "T1" LEVEL 1;
COMP "SRAM_DATA_OUT<3>" LOCATE = SITE "N2" LEVEL 1;
COMP "SRAM_DATA_OUT<4>" LOCATE = SITE "E1" LEVEL 1;
COMP "SRAM_DATA_OUT<5>" LOCATE = SITE "E2" LEVEL 1;
COMP "SRAM_DATA_OUT<6>" LOCATE = SITE "A3" LEVEL 1;
COMP "SRAM_DATA_OUT<7>" LOCATE = SITE "G3" LEVEL 1;
COMP "data_out_dff_pi" LOCATE = SITE "L15" LEVEL 1;
COMP "DB_DFFQ10" LOCATE = SITE "E3" LEVEL 1;
COMP "DB_DFFQ11" LOCATE = SITE "N3" LEVEL 1;
COMP "DB_DFFQ12" LOCATE = SITE "P2" LEVEL 1;
COMP "DB_DFFQ13" LOCATE = SITE "M2" LEVEL 1;
COMP "data_clk_dff_pi" LOCATE = SITE "L14" LEVEL 1;
PIN data_clk_dff_pi_pin<0> = BEL "data_clk_dff_pi" PINNAME PAD;
PIN "data_clk_dff_pi_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "data_clk_pi" LOCATE = SITE "K18" LEVEL 1;
PIN data_clk_pi_pin<0> = BEL "data_clk_pi" PINNAME PAD;
PIN "data_clk_pi_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "sin_db" LOCATE = SITE "L21" LEVEL 1;
COMP "data_out_RO_pi" LOCATE = SITE "K14" LEVEL 1;
COMP "DB_DFFQ0" LOCATE = SITE "AL33" LEVEL 1;
COMP "DB_DFFQ1" LOCATE = SITE "K2" LEVEL 1;
COMP "DB_DFFQ2" LOCATE = SITE "K3" LEVEL 1;
COMP "DB_DFFQ3" LOCATE = SITE "H2" LEVEL 1;
COMP "DB_DFFQ4" LOCATE = SITE "M3" LEVEL 1;
COMP "DB_DFFQ5" LOCATE = SITE "B3" LEVEL 1;
COMP "DB_DFFQ6" LOCATE = SITE "C2" LEVEL 1;
COMP "DB_DFFQ7" LOCATE = SITE "B1" LEVEL 1;
COMP "DB_DFFQ8" LOCATE = SITE "C3" LEVEL 1;
COMP "DB_DFFQ9" LOCATE = SITE "B2" LEVEL 1;
COMP "CLK_100K" LOCATE = SITE "K12" LEVEL 1;
COMP "clear_error" LOCATE = SITE "K16" LEVEL 1;
COMP "CLK_50M" LOCATE = SITE "H22" LEVEL 1;
COMP "reset_sram_RO_pi" LOCATE = SITE "L19" LEVEL 1;
COMP "DAT_DUT_CHIP22" LOCATE = SITE "U33" LEVEL 1;
COMP "SAWL<0>" LOCATE = SITE "R2" LEVEL 1;
COMP "SAWL<1>" LOCATE = SITE "U1" LEVEL 1;
SCHEMATIC END;

